$white: #eee;
$black: #111;

$primary: green;
$secondary: purple;

$header-background: $black;
$header-color: $white;
$body-font: 'Roboto', sans-serif;
$body-background: $white;
$body-color: $black;
$standard-padding: 20px;

// Bulma
$input-background-color: white;
$label-color: white;
$red: #EB5B51;
$light: white;
$dark: #2A2A2C;


// Hamburger
$hamburger-padding-x      : 20px;
$hamburger-padding-y      : 20px;
$hamburger-layer-width    : 30px;
$hamburger-layer-color    : #fff;
$hamburger-layer-height   : 2px;
